{% extends "adminBase.html" %}

{% block body %}

    <table class="table">
        <thead>
        <tr class="table-secondary">
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Price</th>
            <th scope="col">Stock</th>
        </tr>
        </thead>
        <tbody>
        {% if products %}
            {% for item in products %}
            <tr class="table-secondary">
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
            </tr>
            {% endfor %}
        {% else %}
        <tr class="table-secondary">
            <th scope="row">--</th>
            <td>--</td>
            <td>--</td>
            <td>--</td>
        </tr>
        {% endif %}
        </tbody>
    </table>

{% endblock body %}