{% extends "base.html" %}

{% block body %}

{% from '_macros.html' import render_field %}
<style>
    body {
        background-color: #222222;
    }
</style>

<h1 class="display-5 fw-bold text-center"
    style="color: whitesmoke;">{{ title }}</h1>

<form method="POST"
      action="/customer/my-info"
      class="row g-3"
      style="max-width: 50%; margin: auto;">
    {{ form.hidden_tag() }}
    {{ render_field(form.names) }}
    {{ render_field(form.lastnames) }}
    {{ render_field(form.address) }}
    {{ render_field(form.phone) }}
    {{ render_field(form.password) }}
    {{ render_field(form.email) }}
    {{ form.submit(class="btn btn-warning") }}
</form>

{% endblock body %}