{% extends "base.html" %}

{% block body %}
<div class="container m-8 py-5" style="margin-top: 4%; margin-bottom: 4%;">
    <h1 class="display-5 fw-bold text-center" >{{ title }}</h1>
        {% if products %}
        <div class="row">
            {% for item in products %}
                <div class="col-sm-6 mb-3 mb-sm-0 my-3">
                    <div class="card">
                      <div class="card-body">
                          <div class="row">
                            <div class="col-3">
                                <img class="img-fluid img-thumbnail" alt="{{ item.name }}" src="{{ item.image_url }}">
                            </div>
                              <div class="col">
                                  <h5 class="card-title">{{ item.name }}</h5>
                                  <p class="card-text">$ {{ item.price }}</p>
                              </div>
                              <div class="col-2">
                                  <a href="#" class="btn btn-dark"><i class="fa fa-shopping-cart"></i>   <i class="fa fa-plus"></i></a>
                              </div>
                          </div>
                      </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        {% else %}
        
        <div class="row">
            <div class="h-100 p-5 text-white bg-dark rounded-3">
                <h2>No results were found</h2>
                <p>Please try searching another product or keyword.</p>
                <p>Also, you can see all our products by clicking the button down below.</p>
                <a class="btn btn-outline-light" href="{{url_for('home.products')}}" type="button">Go to Products</a>
              </div>
        </div>
        {% endif %}
</div>

{% endblock body %}