{% extends "adminBase.html" %}

{% block body %}
<div class="container">

    <a class="btn btn-primary mb-3"
    href="{{ url_for('supplier.add_supplier') }}">
    <i class="bi bi-plus-circle-fill"></i>
    Add Supply
</a>
<table class="table table-hover">
    <thead>
        <tr class="table-secondary">
            <th scope="col">Name</th>
            <th scope="col">Contact Info</th>
            <th scope="col">Product</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for supplier in suppliers %}
        <tr class="table-secondary">
            <td>{{ supplier.name }}</td>
            <td>{{ supplier.contact }}</td>
            <td>{{ supplier.product }}</td>
            <td>
                <a class="btn btn-warning btn-sm mb-2"
                   href="{{ url_for('supplier.edit_supplier', supplier_id=supplier.id) }}">
                    <i class="bi bi-pencil-square"></i>
                    Edit
                </a>
                <form class="delete"
                      action="{{ url_for('supplier.delete_supplier', supplier_id=supplier.id) }}"
                      method="post">
                    <button class="btn btn-danger btn-sm">
                        <i class="bi bi-trash-fill"></i>
                        Delete
                    </button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>

{% endblock body %}