{% extends "base.html" %}

{% from '_macros.html' import display_alerts %}

{% block body %}

<style>

    .cart :hover{
      animation: tada; 
      animation-duration: 0.5s; 
    }
  
    .product-link:hover{
      animation: pulse;
      animation-duration: 1s; 
    }
    
    .product-image:hover{
      transform: scale(1.5);
      animation: fadeIn;
      animation-duration: 1s; 
    }
  </style>

  
  <div class="container m-8 py-5" style="margin-top: 4%; margin-bottom: 4%;">
    <h1 class="display-5 fw-bold text-center" >{{ title }}</h1>
    {{ display_alerts() }}
        {% if products %}
        <div class="row " style="margin: auto; margin-bottom: 10%; min-height: 210px;">
            {% for item in products %}
                <div class="col-sm-6 mb-3 mb-sm-0 my-3 " style="min-height: 210px;">
                    <div class="card animate__animated animate__backInLeft shadow" style="min-height: 210px;">
                      <div class="card-body">
                          <div class="row" >
                              <div class="col-3">
                                  <img class="img-thumbnail product-image shadow" alt="{{ item.name }}" src="{{ item.image_url }}">
                              </div>
                              <div class="col product-link">
                                  <a href="{{ url_for('product.productInfo', product_id=item.id) }}" style="text-decoration: none;">
                                    <h5 class="card-title">{{ item.name }}</h5>
                                  </a>
                                  <p class="card-text"><b>$ {{ item.price }} MXN</b></p>
                                  <p class="card-text">{{ item.description }}</p>
                              </div>
                              <div class="col-2 cart">
                                <form action="{{ url_for('home.add', product_id=item.id) }}" method="post">
                                  <input type="hidden" name="url" value="{{ url_for('home.products') }}">
                                  <button type="submit" class="btn btn-dark"><i class="fa fa-shopping-cart"></i>   <i class="fa fa-plus"></i></button>
                                </form>
                              </div>
                          </div>
                      </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        {% endif %}
</div>

{% endblock body %}