{% extends "base.html" %}

{% block body %}
<style>

  .cart :hover{
    animation: tada; 
    animation-duration: 0.5s; 
  }

  .product-link:hover{
    animation: pulse;
    animation-duration: 1s; 
  }
  
  .product-image:hover{
    transform: scale(1.5);
    animation: fadeIn;
    animation-duration: 1s; 
  }
</style>

<div class="container" style="max-width: 100%; background-color: black;">
  <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel" style="max-width: 50%; margin-inline: auto;">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="../../static/images/car1.png" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="../../static/images/car2.png" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="../../static/images/car3.png" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>
<br>
        <div class="row " style="margin: auto; margin-bottom: 10%; min-height: 210px;">
            {% if current_user.is_authenticated %}
            {% for item in products %}
                <div class="col-sm-6 mb-3 mb-sm-0 my-3 " style="min-height: 210px;">
                    <div class="card animate__animated animate__backInLeft shadow" style="min-height: 210px;">
                      <div class="card-body">
                          <div class="row" >
                              <div class="col-3">
                                  <img class="img-thumbnail product-image shadow" alt="{{ item.name }}" src="{{ item.image_url }}">
                              </div>
                              <div class="col product-link">
                                  <a href="{{ url_for('product.productInfo', product_id=item.id) }}" style="text-decoration: none;">
                                    <h5 class="card-title">{{ item.name }}</h5>
                                  </a>
                                  <p class="card-text"><b>$ {{ item.price }} MXN</b></p>
                                  <p class="card-text">{{ item.description }}</p>
                              </div>
                              <div class="col-2 cart">
                                <form action="/add" method="post">
                                  <input type="hidden" id="product_id" name="product_id" value="{{ item.id }}">
                                  <button type="submit" class="btn btn-dark"><i class="fa fa-shopping-cart"></i>   <i class="fa fa-plus"></i></button>
                                </form>
                              </div>
                          </div>
                      </div>
                    </div>
                </div>
            {% endfor %}
              
            {% endif %}
        </div>

{% endblock body %}