{% extends "adminBase.html" %}

{% block body %}
<a class="btn btn-primary mb-3"
   href="{{ url_for('supply.add_supply') }}">
    <i class="bi bi-plus-circle-fill"></i>
    Add Supply
</a>
<table class="table">
    <thead>
        <tr class="table-secondary">
            <th scope="col">Name</th>
            <th scope="col">Cost</th>
            <th scope="col">Buy unit</th>
            <th scope="col">Use unit</th>
            <th scope="col">Equivalence</th>
            <th scope="col">Image</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for supply in supplies %}
        <tr class="table-secondary">
            <td>{{ supply.name }}</td>
            <td>{{ supply.cost }}</td>
            <td>{{ supply.buy_unit }}</td>
            <td>{{ supply.use_unit }}</td>
            <td>{{ supply.equivalence }}</td>
            <td>
                <img height="100px"
                     src="{{ supply.image_url }}">
            </td>
            <td>
                <a class="btn btn-primary btn-sm mb-2"
                   style="display: inline; margin-right: 15px;"
                   href="{{ url_for('supply.details', supply_id=supply.id) }}">
                    <i class="bi bi-eye"></i>
                </a>
                <a class="btn btn-warning btn-sm mb-2"
                   style="display: inline; margin-right: 15px;"
                   href="{{ url_for('supply.edit_supply', supply_id=supply.id) }}">
                    <i class="bi bi-pencil-square"></i>
                </a>
                <form class="delete"
                      style="display: inline; margin-right: 15px;"
                      action="{{ url_for('supply.delete_supply', supply_id=supply.id) }}"
                      method="post">
                    <button class="btn btn-danger btn-sm">
                        <i class="bi bi-trash-fill"></i>
                    </button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock body %}