{% extends "adminBase.html" %}

{% block body %}
<div class="container">

  <a class="btn btn-outline-light mb-3"
     href="{{ url_for('supply.supplies') }}">
    <i class="bi bi-arrow-left"></i>
    Back
  </a>
  <a class="btn btn-primary mb-3"
     href="{{ url_for('supply.buy_supply', supply_id=supply.id) }}">
    <i class="bi bi-plus-circle-fill"></i>
    Buy Supply
  </a>

  <table class="table table-hover">

    <thead>
      <tr class="table-secondary">
        <th scope="col">Name</th>
        <th scope="col">Cost</th>
        <th scope="col">Buy Unit</th>
        <th scope="col">Use Unit</th>
        <th scope="col">Equivalence</th>
        <th scope="col">Stock</th>
        <th scope="col">Stock in use unit</th>
        <th scope="col">Image</th>
      </tr>
    </thead>
    <tbody>
      <tr class="table-secondary">
        <td>{{ supply.name }}</td>
        <td>{{ supply.cost }}</td>
        <td>{{ supply.buy_unit }}</td>
        <td>{{ supply.use_unit }}</td>
        <td>{{ supply.equivalence }}</td>
        <td>
          {{ supply.stock }}
          {{ supply.buy_unit }}
        </td>
        <td>
          {{ supply.stock_in_use_unit }}
          {{ supply.use_unit }}
        </td>
        <td>
          <img height="100px"
               src="{{ supply.image_url }}">
        </td>
      </tr>
    </tbody>
  </table>
  <h2 style="color: whitesmoke;">Inventory</h2>
  <table class="table table-hover">
    <thead>
      <tr class="table-secondary">
        <th scope="col">Buy date</th>
        <th scope="col">Expiration Date</th>
        <th scope="col">Available quantity</th>
        <th scope="col">Available use quantity</th>
      </tr>
    </thead>
    <tbody>
      {% for buy in supply.inventory %}
      <tr class="table-secondary">
        <td>{{ buy.buy_date.date() }}</td>
        <td>{{ buy.expiration_date.date() }}</td>
        <td>
          {{ buy.available_quantity}}
          {{ supply.buy_unit }}
        </td>
        <td>
          {{ buy.available_use_quantity}}
          {{ supply.use_unit }}
        </td>
      </tr>
      {% endfor %}
  </table>

  <h2 style="color: whitesmoke;">Buys</h2>
  <table class="table table-hover">
    <thead>
      <tr class="table-secondary">
        <th scope="col">Buy date</th>
        <th scope="col">Expiration Date</th>
        <th scope="col">Quantity</th>
        <th scope="col">Unit Cost</th>
        <th scope="col">Total Cost</th>
      </tr>
    </thead>
    <tbody>
      {% for buy in supply.buy_records %}
      <tr class="table-secondary">
        <td>{{ buy.buy_date.date() }}</td>
        <td>{{ buy.expiration_date.date() }}</td>
        <td>
          {{ buy.quantity}}
          {{ supply.buy_unit }}
        </td>
        <td>  {{ buy.unit_cost | moneyFormat }} </td>
        <td>  {{ buy.total_cost | moneyFormat }} </td>
      </tr>
      {% endfor %}
  </table>
</div>
{% endblock body %}