{% extends "adminBase.html" %}

{% block body %}

{% from '_macros.html' import render_field %}

<div class="contaner"style="margin-bottom: 5%; max-width: 75%; margin-left:auto; margin-right:auto; ">

<table class="table table-hover">
    <thead>
    <tr class="table-secondary">
        <th scope="col">ID</th>
        <th scope="col">Names</th>
        <th scope="col">Lastnames</th>
        <th scope="col">Address</th>
        <th scope="col">Phone</th>
        <th scope="col">Options</th>
    </tr>
    </thead>
    <tbody>
    {% if customers %}
        {% for customer in customers %}
            <tr class="table-secondary">
                <th scope="row">{{ customer.id }}</th>
                <td>{{ customer.names }}</td>
                <td>{{ customer.lastnames }}</td>
                <td>{{ customer.address }}</td>
                <td>{{ customer.phone }}</td>
                <td><a href="{{ url_for('order.customerDetails', customer_id=customer.id)}}" class="btn btn-outline-dark"><i class="fa fa-eye"></i> See orders</a></td>
            </tr>
        {% endfor %}
    {% else %}
    <tr class="table-secondary">
        <th scope="row">--</th>
        <td>--</td>
        <td>--</td>
        <td>--</td>
        <td>--</td>
        <td><a href="" class="btn btn-outline-dark">--</a></td>
    </tr>
    {% endif %}
    </tbody>
</table>
</div>

{% endblock body %}