{% extends "base.html" %}

{% block body %}
<div class="container m-8 py-5">
    <h1 class="display-5 fw-bold text-center" >{{ title }}</h1>
        {% if products %}
        <div class="row">
            {% for item in products %}
                <div class="col-sm-6 mb-3 mb-sm-0 my-3">
                    <div class="card">
                      <div class="card-body">
                          <div class="row">
                              <div class="col-3">
                                  <img class="img-fluid img-thumbnail"  alt="..." src="https://imgs.search.brave.com/0ucUHtwhgmIXuKUxOLQTlWEfymrtGT1t_N4_5GyJq8c/rs:fit:1200:1200:1/g:ce/aHR0cDovL3BuZ2lt/Zy5jb20vdXBsb2Fk/cy9wZXJmdW1lL3Bl/cmZ1bWVfUE5HMTAy/NzgucG5n">
                              </div>
                              <div class="col">
                                  <h5 class="card-title">{{ item.name }}</h5>
                                  <p class="card-text">$ {{ item.price }}</p>
                              </div>
                              <div class="col-2">
                                  <a href="#" class="btn btn-dark"><i class="fa fa-shopping-cart"></i>   <i class="fa fa-plus"></i></a>
                              </div>
                          </div>
                      </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        {% else %}
        
        <div class="row">
            <div class="col-sm-6 mb-3 mb-sm-0 my-3">
              <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-3">
                            <img class="img-fluid img-thumbnail"  alt="..." src="https://imgs.search.brave.com/0ucUHtwhgmIXuKUxOLQTlWEfymrtGT1t_N4_5GyJq8c/rs:fit:1200:1200:1/g:ce/aHR0cDovL3BuZ2lt/Zy5jb20vdXBsb2Fk/cy9wZXJmdW1lL3Bl/cmZ1bWVfUE5HMTAy/NzgucG5n">
                        </div>
                        <div class="col">
                            <h5 class="card-title">Name</h5>
                            <p class="card-text">$ Price</p>
                        </div>
                        <div class="col-2">
                            <a href="#" class="btn btn-dark"><i class="fa fa-shopping-cart"></i>   <i class="fa fa-plus"></i></a>
                        </div>
                    </div>
                </div>
              </div>
            </div>
            <div class="col-sm-6 mb-3 mb-sm-0 my-3">
              <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-3">
                            <img class="img-fluid img-thumbnail"  alt="..." src="https://imgs.search.brave.com/0ucUHtwhgmIXuKUxOLQTlWEfymrtGT1t_N4_5GyJq8c/rs:fit:1200:1200:1/g:ce/aHR0cDovL3BuZ2lt/Zy5jb20vdXBsb2Fk/cy9wZXJmdW1lL3Bl/cmZ1bWVfUE5HMTAy/NzgucG5n">
                        </div>
                        <div class="col">
                            <h5 class="card-title">Name</h5>
                            <p class="card-text">$ Price</p>
                        </div>
                        <div class="col-2">
                            <a href="#" class="btn btn-dark"><i class="fa fa-shopping-cart"></i>   <i class="fa fa-plus"></i></a>
                        </div>
                    </div>
                </div>
              </div>
            </div>
        </div>
        {% endif %}
</div>

{% endblock body %}