{% extends "adminBase.html" %}

{% block body %}

{% from '_macros.html' import render_field %}
{% from '_macros.html' import render_image_field%}

<form method="POST"
      action="/edit-user-role"
      class="row g-3"
      enctype="multipart/form-data"
      style="max-width: 50%; margin: auto;">
    {{ form.hidden_tag() }}
    {{ render_field(form.email) }}
    <select name="role" id="role" class="form-select" aria-label="Role">
      <option selected disabled>Select</option>
      {% for role in roles %}
      <option value="{{ role.name }}">{{ role.description }}</option>
      {% endfor %}
    </select>
    {{ form.submit(class="btn btn-warning") }}
</form>

{% endblock body %}