{% extends "base.html" %}

{% from '_macros.html' import render_field %}
{% from '_macros.html' import render_check %}
{% from '_macros.html' import display_alerts %}

{% block body %}
<style>
    body{
        background-color: #222222;
    }
</style>

<h1 class="display-5 fw-bold text-center" style="color: whitesmoke;">{{ title }}</h1>

{{ display_alerts() }}

<div class="container" style="margin-bottom: 10%;">
    <form action="/signup" method="POST" class="row g-3" style="max-width: 90%; margin: auto;">
        {{ form.hidden_tag() }}
        {{ render_field(form.names) }}
        {{ render_field(form.lastnames) }}
        {{ render_field(form.address) }}
        {{ render_field(form.phone) }}
        {{ render_field(form.email) }}
        {{ render_field(form.password) }}
        {{ render_field(form.confirm_password) }}
        {{ form.submit(class="btn btn-warning") }}
    </form>
</div>


{% endblock body %}