{% extends "adminBase.html" %}

{% block body %}

{% from '_macros.html' import render_field %}

<div class="contaner"style="margin-bottom: 5%; max-width: 75%; margin-left:auto; margin-right:auto; ">

<a class="btn btn-primary mb-3"
   href="{{ url_for('auth.add_user') }}">
    <i class="bi bi-plus-circle"></i>
    Add user
</a>
<table class="table table-hover">
    <thead>
    <tr class="table-secondary">
        <th scope="col">ID</th>
        <th scope="col">Email</th>
        <th scope="col">Role</th>
        <th scope="col">Options</th>
    </tr>
    </thead>
    <tbody>
    {% if users %}
        {% for user in users %}
            <tr class="table-secondary">
                <th scope="row">{{ user.id }}</th>
                <td>{{ user.email }}</td>
                <td>
                    {% for role in user.roles %}
                        {{ role.name }}
                    {% endfor %}
                </td>
                <td>
                    <a class="btn btn-warning btn-sm mb-2" style=" display: inline; margin-right: 10px;"
                    href="{{ url_for('auth.edit_user', user_id=user.id) }}">
                        <i class="bi bi-pencil-square"></i>
                    </a>
                    <form class="delete"
                      style="display: inline; margin-right: 10px;"
                      action="{{ url_for('auth.delete_user', user_id=user.id) }}"
                      method="post">
                        <button class="btn btn-danger btn-sm">
                            <i class="bi bi-trash-fill"></i>
                        </button>
                    </form>
                </td>
            </tr>
        {% endfor %}
    {% else %}
    <tr class="table-secondary">
        <th scope="row">--</th>
        <td>--</td>
        <td>--</td>
        <td>--</td>
        <td>--</td>
        <td><a href="" class="btn btn-outline-dark">--</a></td>
    </tr>
    {% endif %}
    </tbody>
</table>
</div>

{% endblock body %}